@use "../abstracts";

.cate-item {
  display: flex;
  gap: 20px;

  height: 100%;
  padding: 2rem;
  border-radius: 1.6rem;
  background: var(--cate-item-bg);

  @include abstracts.screen(xl) {
    flex-direction: column;
  }

  @include abstracts.screen(md) {
    flex-direction: row;
  }

  &__thumb {
    display: block;
    width: 116px;
    height: 116px;
    object-fit: contain;
    border-radius: 0.8rem;
    background: var(--cate-item-thumb-bg);

    @include abstracts.screen(xl) {
      width: 100%;
      height: 150px;
    }

    @include abstracts.screen(md) {
      width: 88px;
      height: 88px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: var(--cate-item-title-color);

    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145.455%;

    @include abstracts.screen(sm) {
      font-size: 1.8rem;
    }
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.6rem;
    line-height: 150%;

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
    }
  }
}
