@use "../abstracts";

.dropdown {
  position: absolute;
  left: 0;

  width: min(1240px, 100%);
  padding-top: 54px;
  display: none;

  @include abstracts.screen(lg) {
    position: initial;
    padding-top: 0;
  }

  &__inner {
    --inner-padding: 30px;

    position: relative;

    padding: var(--inner-padding);

    border-radius: 2rem;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

    &::before {
      position: absolute;
      content: url(../icon/dropdown-arrow.svg);
      top: -14px;
      left: var(--arrow-left-pos);
      transform: translateX(-50%);
      filter: var(--dropdown-arrow-color);
    }

    @include abstracts.screen(lg) {
      box-shadow: none;
      border-radius: 0;
      background: transparent;
      padding: 0 20px;

      &::before {
        content: none;
      }
    }

    @include abstracts.screen(sm) {
      padding: 0;
    }
  }
}

.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(
          min(582px, 100vh - 158px) - var(--inner-padding) * 2
  );

  position: relative;

  &__main {
    width: var(--main-column-width);
    height: var(--max-inner-height);
    border-right: 1px solid var(--top-menu-border-color);
    overflow-y: auto;

    @include abstracts.screen(lg) {
      width: 100%;
      height: auto;
      border-right: none;
    }
  }
}

.menu-column {
  display: flex;
  gap: 14px;

  + .menu-column {
    margin-top: 22px;
  }

  @include abstracts.screen(lg) {
    margin-top: 10px;
  }

  &__icon {
    position: relative;

    flex-shrink: 0;
    width: 36px;
    height: 36px;

    @include abstracts.screen(xl) {
      display: none;
    }

    @include abstracts.screen(lg) {
      display: block;
    }

    &-1 {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    &-2 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 24px;
      width: 24px;
      object-fit: contain;
      filter: var(--menu-column-icon-color);
    }
  }

  &__content {
    flex: 1;
  }

  &__heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;

    @include abstracts.screen(lg) {
      margin-bottom: 26px;
    }
  }

  &__list {
    margin-top: 19px;

    @include abstracts.screen(lg) {
      margin-top: 0;
    }
  }

  &__item {
    &--active .sub-menu {
      display: grid;
    }
  }

  &__item--active > &__link,
  &__item:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);

  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  padding-left: var(--inner-padding);
  overflow-y: auto;

  @include abstracts.screen(lg) {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  &--not-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-inner-height);
    inset: initial;
    position: initial;

    @include abstracts.screen(lg) {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
}
