<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Grocery Dropdown Fragment -->
<div th:fragment="dropdownGrocery" class="dropdown js-dropdown">
    <div class="dropdown__inner">
        <div class="top-menu">
            <div class="sub-menu sub-menu--not-main">
                <div class="sub-menu__column">
                    <!-- Grocery -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-7.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-7.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Grocery</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Grilling Foods</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Spring Flavors</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Fresh Produce -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-8.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-8.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Fresh Produce</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Celebrate Salad Month</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Healthy Living</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Fresh Flowers</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Chilled Dressing</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Fresh Fruit</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Salad Kits & Bowls</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Organic Produce</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Fresh Vegetables</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-menu__column">
                    <!-- Bakery & Bread -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-9.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-9.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Bakery & Bread</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">New in Bakery</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Sliced Bread</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Rolls & Buns</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Tortillas</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Breakfast Breads</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Pies</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Cookies & Brownies</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Frozen -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-10.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-10.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Frozen</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Frozen Breakfast</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Frozen Potatoes</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Frozen Meals & Snacks</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-menu__column">
                    <!-- Snacks -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-11.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-11.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Snacks</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Chips</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Popcorn & Pretzels</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Crackers</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Salsa & Dips</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Candy -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-12.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-12.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Candy</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Better for You</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Chocolate</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Sugar Free Candy</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Gum</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Mints</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">On-the-Go</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-menu__column">
                    <!-- Coffee -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-13.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-13.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Cocktails & Mixes Coffee</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Ground Coffee</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Whole Bean Coffee</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Coffee Pods</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Instant Coffee</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Beverages -->
                    <div class="menu-column">
                        <div class="menu-column__icon">
                            <img th:src="@{/assets/img/category/cate-14.1.svg}" alt="" class="menu-column__icon-1" />
                            <img th:src="@{/assets/img/category/cate-14.2.svg}" alt="" class="menu-column__icon-2" />
                        </div>
                        <div class="menu-column__content">
                            <h2 class="menu-column__heading"><a href="#!">Beverages</a></h2>
                            <ul class="menu-column__list">
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Water</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Soft Drinks</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Fruit Juice</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Sports Drinks</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Energy Drinks</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Tea</a></li>
                                <li class="menu-column__item"><a href="#!" class="menu-column__link">Hot Chocolate & Cocoa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
