<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Beauty Dropdown Fragment -->
<div th:fragment="dropdownBeauty" class="dropdown js-dropdown">
    <div class="dropdown__inner">
        <div class="top-menu">
            <div class="sub-menu sub-menu--not-main">
                <!-- Featured Shops -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-7.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-7.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Featured Shops</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Pickup Today in Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">BeautySpaceNK</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Equate Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Beauty Deals</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Walmart Exclusives</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Luxury Beauty Deals</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">New Arrivals</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Trending in Beauty -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-15.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-15.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Trending in Beauty</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Trending Beauty Products</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Celebrate Earth Day</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Prom-ready Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Summer Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Travel Size & Minis</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Featured Brands -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-16.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-16.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Featured Brands</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">New in Bakery</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Sliced Bread</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Rolls & Buns</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Tortillas</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Breakfast Breads</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Pies</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Cookies & Brownies</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Communities to Support -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-17.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-17.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Communities to Support</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Black Owned Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">LatinX Owned Beauty</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">AAPI Owned Beauty</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Premium Beauty -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-18.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-18.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Premium Beauty</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Hair Color</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Hair Care</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Skincare</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Fragrance</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Makeup</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Beauty Tech & Tools</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Beauty -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img th:src="@{/assets/img/category/cate-19.1.svg}" alt="" class="menu-column__icon-1" />
                        <img th:src="@{/assets/img/category/cate-19.2.svg}" alt="" class="menu-column__icon-2" />
                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading"><a href="#!">Beauty</a></h2>
                        <ul class="menu-column__list">
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Men's Grooming</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Bath & Body</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Beauty Tech & Tools</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Makeup</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Fragrance</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Nail Care</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Hair Care</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Hair Color</a></li>
                            <li class="menu-column__item"><a href="#!" class="menu-column__link">Skincare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
