<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Electronics Submenu -->
<div th:fragment="submenuElectronics" class="sub-menu">
    <div class="sub-menu__column">
        <!-- TV & Video -->
        <div class="menu-column">
            <div class="menu-column__icon">
                <img th:src="@{/assets/img/category/cate-2.1.svg}" alt="" class="menu-column__icon-1" />
                <img th:src="@{/assets/img/category/cate-2.2.svg}" alt="" class="menu-column__icon-2" />
            </div>
            <div class="menu-column__content">
                <h2 class="menu-column__heading"><a href="#!">TV & Video</a></h2>
                <ul class="menu-column__list">
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop all TVs</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">TVs by Size</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Smart TVs</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Roku TVs</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Streaming</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">TV Mounts & Accessories</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">DVD & Blu-Ray Players</a></li>
                </ul>
            </div>
        </div>
        <!-- Wearable Technology -->
        <div class="menu-column">
            <div class="menu-column__icon">
                <img th:src="@{/assets/img/category/cate-3.1.svg}" alt="" class="menu-column__icon-1" />
                <img th:src="@{/assets/img/category/cate-3.2.svg}" alt="" class="menu-column__icon-2" />
            </div>
            <div class="menu-column__content">
                <h2 class="menu-column__heading"><a href="#!">Wearable Technology</a></h2>
                <ul class="menu-column__list">
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Galaxy Watch</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Apple Watch</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Fitness Trackers</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Virtual Reality</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Headphones</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub-menu__column">
        <!-- Computers -->
        <div class="menu-column">
            <div class="menu-column__icon">
                <img th:src="@{/assets/img/category/cate-4.1.svg}" alt="" class="menu-column__icon-1" />
                <img th:src="@{/assets/img/category/cate-4.2.svg}" alt="" class="menu-column__icon-2" />
            </div>
            <div class="menu-column__content">
                <h2 class="menu-column__heading"><a href="#!">Computers</a></h2>
                <ul class="menu-column__list">
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Shop All Computers</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Laptops</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">PC Gaming</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Monitors</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Chromebook</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Printers & Ink</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Computer Accessories</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Desktops</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Tax Software</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Computer Software</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">PC Finder</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sub-menu__column">
        <!-- Savings -->
        <div class="menu-column">
            <div class="menu-column__icon">
                <img th:src="@{/assets/img/category/cate-5.1.svg}" alt="" class="menu-column__icon-1" />
                <img th:src="@{/assets/img/category/cate-5.2.svg}" alt="" class="menu-column__icon-2" />
            </div>
            <div class="menu-column__content">
                <h2 class="menu-column__heading"><a href="#!">Savings</a></h2>
                <ul class="menu-column__list">
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Tech Savings</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Overstock Savings</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Tech Rollbacks</a></li>
                </ul>
            </div>
        </div>
        <!-- Cell Phones -->
        <div class="menu-column">
            <div class="menu-column__icon">
                <img th:src="@{/assets/img/category/cate-6.1.svg}" alt="" class="menu-column__icon-1" />
                <img th:src="@{/assets/img/category/cate-6.2.svg}" alt="" class="menu-column__icon-2" />
            </div>
            <div class="menu-column__content">
                <h2 class="menu-column__heading"><a href="#!">Cell Phones</a></h2>
                <ul class="menu-column__list">
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Wireless Deals</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">5G Phones</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Prepaid Phones & Plans</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Refurbished Phones</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">iPhone Accessories</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Cases & Screen Protectors</a></li>
                    <li class="menu-column__item"><a href="#!" class="menu-column__link">Unlocked Phones</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</html>
