<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('Category - Grocery Store')}"></head>
  <body>
    <!-- Header -->
    <header th:replace="~{fragments/header :: header}"></header>
    
    <!-- MAIN -->
    <main class="category-page">
      <div class="container">
        <h1 class="category-title">Product Category</h1>
        <div class="row row-cols-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-2">
          <!-- 16 product items -->
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-1.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Coffee Beans - Espresso Arabica and Robusta Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$47.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.3</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-2.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza Coffee Blends - Try the Italian Espresso</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$53.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">3.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-3.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn like-btn__liked product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza - Caffè Espresso Black Tin - Ground coffee</a>
              </h3>
              <p class="product-card__brand">welikecoffee</p>
              <div class="product-card__row">
                <span class="product-card__price">$99.99</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">5.0</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-4.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Qualità Oro Mountain Grown - Espresso Coffee Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$38.65</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-5.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn like-btn__liked product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Coffee Beans - Espresso Arabica and Robusta Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$47.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.3</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-6.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza Coffee Blends - Try the Italian Espresso</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$53.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">3.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-7.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza - Caffè Espresso Black Tin - Ground coffee</a>
              </h3>
              <p class="product-card__brand">welikecoffee</p>
              <div class="product-card__row">
                <span class="product-card__price">$99.99</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">5.0</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-8.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Qualità Oro Mountain Grown - Espresso Coffee Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$38.65</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-2.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn like-btn__liked product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Coffee Beans - Espresso Arabica and Robusta Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$47.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.3</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-1.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza Coffee Blends - Try the Italian Espresso</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$53.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">3.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-4.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza - Caffè Espresso Black Tin - Ground coffee</a>
              </h3>
              <p class="product-card__brand">welikecoffee</p>
              <div class="product-card__row">
                <span class="product-card__price">$99.99</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">5.0</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-3.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Qualità Oro Mountain Grown - Espresso Coffee Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$38.65</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-5.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn like-btn__liked product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Coffee Beans - Espresso Arabica and Robusta Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$47.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.3</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-6.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza Coffee Blends - Try the Italian Espresso</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$53.00</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">3.4</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-7.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Lavazza - Caffè Espresso Black Tin - Ground coffee</a>
              </h3>
              <p class="product-card__brand">welikecoffee</p>
              <div class="product-card__row">
                <span class="product-card__price">$99.99</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">5.0</span>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="product-card">
              <div class="product-card__img-wrap">
                <a th:href="@{/product-detail}">
                  <img th:src="@{/assets/img/product/item-8.png" alt="" class="product-card__thumb" />
                </a>
                <button class="like-btn product-card__like-btn">
                  <img th:src="@{/assets/icon/heart.svg" alt="" class="like-btn__icon icon" />
                  <img th:src="@{/assets/icon/heart-red.svg" alt="" class="like-btn__icon--liked" />
                </button>
              </div>
              <h3 class="product-card__title">
                <a th:href="@{/product-detail}">Qualità Oro Mountain Grown - Espresso Coffee Beans</a>
              </h3>
              <p class="product-card__brand">Lavazza</p>
              <div class="product-card__row">
                <span class="product-card__price">$38.65</span>
                <img th:src="@{/assets/icon/star.svg" alt="" class="product-card__star" />
                <span class="product-card__score">4.4</span>
              </div>
            </article>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html> 