<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('Sign Up - Grocery Store')}"></head>

  <body>
    <!-- main -->
    <main class="auth">
      <!-- auth intro -->
      <div class="auth__intro">
        <!-- logo -->
        <a th:href="@{/}" class="logo d-none d-md-flex">
          <img
            th:src="@{/assets/icon/logo.svg}"
            alt="grocerystore"
            class="logo__img"
          />
          <h1 class="logo__title">grocerystore</h1>
        </a>

        <div class="auth__intro-main">
          <img
            th:src="@{/assets/img/auth/intro.svg}"
            alt=""
            class="auth__intro-img"
          />
          <p class="auth__intro-text">
            The best of luxury brand values, high quality products and
            innovative services.
          </p>
        </div>

        <button
          class="auth__intro-next d-none d-md-block js-toggle"
          toggle-target="#auth-content"
        >
          <img th:src="@{/assets/icon/next.svg}" alt="" />
        </button>
      </div>

      <!-- auth content -->
      <div id="auth-content" class="auth__content hide">
        <div class="auth__content-inner">
          <!-- logo -->
          <a th:href="@{/}" class="logo">
            <img
              th:src="@{/assets/icon/logo.svg}"
              alt="grocerystore"
              class="logo__img"
            />
            <h1 class="logo__title">grocerystore</h1>
          </a>
          <h1 class="auth__heading">Sign Up</h1>
          <p class="auth__desc">
            Let’s create your account and Shop like a pro and save money.
          </p>
          <form action="./index-logined.html" class="form auth__form">
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="email"
                  name=""
                  id=""
                  class="form__input"
                  placeholder="Email"
                  value="admin@grocerystore.com"
                  required
                  autofocus
                />
                <img
                  th:src="@{/assets/icon/email.svg}"
                  alt=""
                  class="form__input-icon"
                />
                <img
                  th:src="@{/assets/icon/error.svg}"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">Email chưa đúng định dạng</p>
            </div>
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="password"
                  name=""
                  id=""
                  class="form__input"
                  placeholder="Password"
                  value="123123123"
                  required
                  minlength="6"
                />
                <img
                  th:src="@{/assets/icon/lock.svg}"
                  alt=""
                  class="form__input-icon"
                />
                <img
                  th:src="@{/assets/icon/error.svg}"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">Mật khẩu ít nhất 6 ký tự</p>
            </div>
            <div class="form__group">
              <div class="form__text-input">
                <input
                  type="password"
                  name=""
                  id=""
                  class="form__input"
                  placeholder="Confirm password"
                  value="123123123"
                  required
                  minlength="6"
                />
                <img
                  th:src="@{/assets/icon/lock.svg}"
                  alt=""
                  class="form__input-icon"
                />
                <img
                  th:src="@{/assets/icon/error.svg}"
                  alt=""
                  class="form__input-icon-error"
                />
              </div>
              <p class="form__error">Mật khẩu ít nhất 6 ký tự</p>
            </div>
            <div class="form__group form__group--inline">
              <label class="form__checkbox">
                <input type="checkbox" name="" class="form__checkbox-input" />
                <span class="form__checkbox-label">Set as default card</span>
              </label>
              <a
                th:href="@{/reset-password}"
                class="auth__link form__pull-right"
                >Forgot Password?</a
              >
            </div>
            <div class="form__group auth__btn-group">
              <button class="btn btn--primary auth__btn form__submit-btn">
                Sign Up
              </button>
              <button class="btn btn--outline auth__btn btn--no-margin">
                <img
                  th:src="@{/assets/icon/google.svg}"
                  alt=""
                  class="btn-icon icon"
                />
                Sign in with Google
              </button>
            </div>
          </form>

          <p class="auth__text">
            You have an account yet?
            <a th:href="@{/sign-in}" class="auth__link">Sign In</a>
          </p>
        </div>
      </div>
    </main>
    <script>
      window.dispatchEvent(new Event("template-loaded"));
    </script>
  </body>
</html>
