<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__row">
                <!-- footer column 1 -->
                <div class="footer__col">
                    <h3 class="footer__heading">TOP CATEGORIES</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Lavazza</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Espresso</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Welikecoffe</a>
                        </li>
                    </ul>
                </div>

                <!-- footer column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">HELP</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Delivery</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Returns</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Secure Payments</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Track an order</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Contact us</a>
                        </li>
                    </ul>
                </div>

                <!-- footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">ABOUT US</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Terms & Conditions of Sales</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Responsibility</a>
                        </li>
                    </ul>
                </div>

                <!-- footer column 4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">FEEDBACK</h3>
                    <a href="#!" class="footer__link">Leave a feedback</a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__row">
                <!-- footer column 1 -->
                <div class="footer__store">
                    <h3 class="footer__heading">FIND A STORE</h3>
                    <p class="footer__desc">Find Grocery Mart Near You</p>
                    <button class="btn btn--primary footer__search">Store Locator</button>
                </div>

                <!-- footer column 2 -->
                <div class="footer__media">
                    <h3 class="footer__heading">FOLLOW US</h3>
                    <div class="footer__media-list">
                        <a href="#!" class="footer__social">
                            <img
                                    th:src="@{/assets/icon/twitter.svg}"
                                    alt=""
                                    class="footer__social-icon icon"
                            />
                        </a>
                        <a href="#!" class="footer__social">
                            <img
                                    th:src="@{/assets/icon/facebook-f.svg}"
                                    alt=""
                                    class="footer__social-icon icon"
                            />
                        </a>
                        <a href="#!" class="footer__social">
                            <img
                                    th:src="@{/assets/icon/youtube.svg}"
                                    alt=""
                                    class="footer__social-icon icon"
                            />
                        </a>
                        <a href="#!" class="footer__social">
                            <img
                                    th:src="@{/assets/icon/instagram.svg}"
                                    alt=""
                                    class="footer__social-icon icon"
                            />
                        </a>
                    </div>
                </div>

                <!-- footer column 3 -->
                <div class="footer__subscription">
                    <h3 class="footer__heading">NEWSLETTER SUBSCRIPTION</h3>
                    <p class="footer__desc">
                        Receive product news and updates in your inbox.
                    </p>
                    <div class="footer__input">
                        <input
                                type="email"
                                name=""
                                id=""
                                placeholder="Search brand name"
                                class="footer__input-email"
                        />
                        <img
                                th:src="@{/assets/icon/email.svg}"
                                alt=""
                                class="footer__input-icon icon"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__payment-methods">
            <h3 class="footer__heading">SECURE ONLINE SHOPPING</h3>
            <div class="payment-methods__wrap">
                <img
                        th:src="@{/assets/icon/payment methods/visa.svg}"
                        alt=""
                        class="payment-methods__icon"
                />
                <img
                        th:src="@{/assets/icon/payment methods/paypal.svg}"
                        alt=""
                        class="payment-methods__icon"
                />
                <img
                        th:src="@{/assets/icon/payment methods/discover.svg}"
                        alt=""
                        class="payment-methods__icon"
                />
                <img
                        th:src="@{/assets/icon/payment methods/maestro.svg}"
                        alt=""
                        class="payment-methods__icon"
                />
                <img
                        th:src="@{/assets/icon/payment methods/mastercard.svg}"
                        alt=""
                        class="payment-methods__icon"
                />
            </div>
        </div>
    </div>
</footer>
</html>
