<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
    <title th:text="${title}">Grocery Store</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/favicon/apple-touch-icon.png}"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon/favicon-32x32.png}"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon/favicon-16x16.png}"/>
    <link rel="manifest" th:href="@{/assets/favicon/site.webmanifest}"/>
    <link rel="mask-icon" th:href="@{/assets/favicon/safari-pinned-tab.svg}" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"/>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

    <!-- fonts -->
    <link rel="stylesheet" th:href="@{/assets/fonts/stylesheet.css}"/>

    <!-- styles CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/slideshow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custom-fixes.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/cart-page.css}"/>

    <!-- scripts -->
    <script th:src="@{/assets/js/notification-modal.js}"></script>
    <script th:src="@{/assets/js/scripts.js}"></script>
    <script th:src="@{/assets/js/slideshow.js}"></script>
    <script th:src="@{/assets/js/products.js?v=2}"></script>
    <script th:src="@{/assets/js/user-menu.js}"></script>
</head>
</html>
